In [ ]:
import pandas as pd

In [ ]:
DataUrl = "https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv"

In [ ]:
df = pd.read_csv(DataUrl, sep='\t')

In [ ]:
df.head(5)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

In [ ]:
print(df.shape)
print('행:', df.shape[0])
print('열;', df.shape[1])

(51490, 61)
행: 51490
열; 61

In [ ]:
ans = df.columns
ans

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [ ]:
ans = df.columns[5]
print(ans)

firstBlood

In [ ]:
ans = df.iloc[:,5].dtype
print(ans)

int64

In [ ]:
ans = df.index
print(ans)

RangeIndex(start=0, stop=51490, step=1)

In [ ]:
ans = df.iloc[2,5]
print(ans)

2

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv', encoding='cp949')

In [ ]:
ans = df.tail(3)
print(ans)

         id          일자   시도명 읍면동명         거주인구       근무인구        방문인구  \
9618  32066  2020-04-30   제주시  도두동    28397.481   3144.895   84052.697
9619  32067  2020-04-30  서귀포시  안덕면   348037.846  29106.286  251129.660
9620  32068  2020-04-30   제주시   연동  1010643.372  65673.477  447622.068

           총 유동인구   평균 속도  평균 소요 시간  평균 기온  일강수량  평균 풍속
9618   115595.073  41.053    29.421   20.3   0.0    3.0
9619   628273.792  46.595    49.189   17.6   0.0    3.5
9620  1523938.917  40.863    27.765   14.1   0.0    4.8

In [ ]:
ans = df.select_dtypes(exclude='object').columns
print(ans)

Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

In [ ]:
ans = df.select_dtypes(include='object').columns
print(ans)

Index(['일자', '시도명', '읍면동명'], dtype='object')

In [ ]:
ans = df.isnull().sum()
print(ans)

id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64

In [ ]:
ans = df.info()
print(ans)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB
None

In [ ]:
ans = df.describe()
print(ans)

                 id          거주인구           근무인구           방문인구        총 유동인구  \
count   9621.000000  9.621000e+03    9621.000000    9621.000000  9.621000e+03
mean   27258.000000  3.174315e+05   35471.201510  195889.561802  5.487922e+05
std     2777.487804  2.982079e+05   40381.214775  140706.090325  4.608802e+05
min    22448.000000  9.305552e+03    1407.936000   11538.322000  2.225181e+04
25%    24853.000000  9.539939e+04   12074.498000   99632.153000  2.216910e+05
50%    27258.000000  2.221105e+05   21960.928000  152805.335000  3.866935e+05
75%    29663.000000  4.106671e+05   40192.032000  236325.109000  6.406918e+05
max    32068.000000  1.364504e+06  263476.965000  723459.209000  2.066484e+06

             평균 속도     평균 소요 시간        평균 기온         일강수량        평균 풍속
count  9621.000000  9621.000000  9621.000000  9621.000000  9621.000000
mean     41.109084    37.215873    13.550828     6.972426     2.753171
std       8.758631    12.993786     7.745515    27.617260     1.498538
min      24.333000    12.667000    -9.600000     0.000000     0.000000
25%      34.250000    27.889000     7.600000     0.000000     1.700000
50%      39.640000    34.500000    13.400000     0.000000     2.400000
75%      49.105000    46.176000    19.700000     1.500000     3.400000
max     103.000000   172.200000    30.400000   587.500000    13.333000

In [ ]:
ans = df['거주인구']
print(ans)

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

In [ ]:
ans1 = df['평균 속도'].quantile(0.75)
ans2 = df['평균 속도'].quantile(0.25)
ans = ans1 - ans2
print(ans)

14.854999999999997

In [ ]:
ans = df['읍면동명'].nunique()
print(ans)

41

In [ ]:
ans = df['읍면동명'].unique()
print(ans)

['도두동' '외도동' '이도2동' '일도1동' '대천동' '서홍동' '한경면' '송산동' '조천읍' '일도2동' '영천동'
 '예래동' '대륜동' '삼도1동' '이호동' '건입동' '중앙동' '삼양동' '삼도2동' '이도1동' '남원읍' '대정읍'
 '정방동' '효돈동' '아라동' '한림읍' '구좌읍' '용담1동' '오라동' '화북동' '연동' '표선면' '중문동' '성산읍'
 '안덕면' '천지동' '노형동' '동홍동' '용담2동' '봉개동' '애월읍']

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv')

In [ ]:
ans = df[df['quantity'] == 3].head()
print(ans)

     order_id  quantity          item_name  \
409       178         3       Chicken Bowl
445       193         3               Bowl
689       284         3  Canned Soft Drink
818       338         3      Bottled Water
850       350         3  Canned Soft Drink

                                    choice_description item_price
409  [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...    $32.94
445  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20
689                                        [Diet Coke]     $3.75
818                                                NaN     $3.27
850                                           [Sprite]     $3.75

In [ ]:
ans = df[df['quantity'] == 3].reset_index(drop=True).head()
print(ans)

   order_id  quantity          item_name  \
0       178         3       Chicken Bowl
1       193         3               Bowl
2       284         3  Canned Soft Drink
3       338         3      Bottled Water
4       350         3  Canned Soft Drink

                                  choice_description item_price
0  [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...    $32.94
1  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20
2                                        [Diet Coke]     $3.75
3                                                NaN     $3.27
4                                           [Sprite]     $3.75

In [ ]:
ans = df[['quantity','item_price']].reset_index(drop=True)
print(ans)

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

In [ ]:
df['item_price']

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

In [ ]:
df['new_price'] = df['item_price'].str[1:].astype('float')
print(df['new_price'])

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: new_price, Length: 4622, dtype: float64

In [ ]:
ans = df[df['new_price'] <= 5]
print(len(ans))

1652

In [ ]:
ans = df.loc[df.new_price <= 5]
print(len(ans))

1652

In [ ]:
ans = df.loc[df.item_name == 'Chicken Salad Bowl'].reset_index(drop=True)
print(ans)

     order_id  quantity           item_name  \
0          20         1  Chicken Salad Bowl
1          60         2  Chicken Salad Bowl
2          94         2  Chicken Salad Bowl
3         111         1  Chicken Salad Bowl
4         137         2  Chicken Salad Bowl
..        ...       ...                 ...
105      1813         2  Chicken Salad Bowl
106      1822         1  Chicken Salad Bowl
107      1834         1  Chicken Salad Bowl
108      1834         1  Chicken Salad Bowl
109      1834         1  Chicken Salad Bowl

                                    choice_description item_price  new_price
0    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75
1    [Tomatillo Green Chili Salsa, [Sour Cream, Che...    $22.50       22.50
2    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $22.50       22.50
3    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
4              [Fresh Tomato Salsa, Fajita Vegetables]    $17.50       17.50
..                                                 ...        ...        ...
105  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $17.50       17.50
106  [Fresh Tomato Salsa, [Black Beans, Cheese, Gua...    $11.25       11.25
107  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
108  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
109  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[110 rows x 6 columns]

In [ ]:
ans = df.loc[(df.new_price <= 9) & (df.item_name == 'Chicken Salad Bowl')]
print(ans.head(3))

     order_id  quantity           item_name  \
44         20         1  Chicken Salad Bowl
256       111         1  Chicken Salad Bowl
526       220         1  Chicken Salad Bowl

                                    choice_description item_price  new_price
44   [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75
256  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
526  [Roasted Chili Corn Salsa, [Black Beans, Sour ...     $8.75        8.75

In [ ]:
ans = df.sort_values('new_price', ascending=True).reset_index(drop=True)
print(ans.head(3))

   order_id  quantity      item_name choice_description item_price  new_price
0       471         1  Bottled Water                NaN     $1.09        1.09
1       338         1    Canned Soda        [Coca Cola]     $1.09        1.09
2      1575         1    Canned Soda       [Dr. Pepper]     $1.09        1.09

In [ ]:
ans = df.loc[df.item_name.str.contains('Chips')]
print(ans)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
3            1         1  Chips and Tomatillo-Green Chili Salsa
6            3         1                          Side of Chips
10           5         1                    Chips and Guacamole
14           7         1                    Chips and Guacamole
...        ...       ...                                    ...
4596      1826         1                    Chips and Guacamole
4600      1827         1                    Chips and Guacamole
4605      1828         1                    Chips and Guacamole
4613      1831         1                                  Chips
4616      1832         1                    Chips and Guacamole

     choice_description item_price  new_price
0                   NaN     $2.39        2.39
3                   NaN     $2.39        2.39
6                   NaN     $1.69        1.69
10                  NaN     $4.45        4.45
14                  NaN     $4.45        4.45
...                 ...        ...        ...
4596                NaN     $4.45        4.45
4600                NaN     $4.45        4.45
4605                NaN     $4.45        4.45
4613                NaN     $2.15        2.15
4616                NaN     $4.45        4.45

[1084 rows x 6 columns]

In [ ]:
ans = df.iloc[:,::2]
print(ans.head())

   order_id                              item_name item_price
0         1           Chips and Fresh Tomato Salsa     $2.39
1         1                                   Izze     $3.39
2         1                       Nantucket Nectar     $3.39
3         1  Chips and Tomatillo-Green Chili Salsa     $2.39
4         2                           Chicken Bowl    $16.98

In [ ]:
ans = df.sort_values('new_price', ascending=False).reset_index(drop=True)
print(ans)

      order_id  quantity                     item_name  \
0         1443        15  Chips and Fresh Tomato Salsa
1         1398         3                 Carnitas Bowl
2          511         4               Chicken Burrito
3         1443         4               Chicken Burrito
4         1443         3                Veggie Burrito
...        ...       ...                           ...
4617      1578         1                   Canned Soda
4618      1162         1                 Bottled Water
4619       567         1                   Canned Soda
4620      1014         1                   Canned Soda
4621       591         1                   Canned Soda

                                     choice_description item_price  new_price
0                                                   NaN    $44.25       44.25
1     [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $35.25       35.25
2     [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $35.00       35.00
3     [Fresh Tomato Salsa, [Rice, Black Beans, Chees...    $35.00       35.00
4     [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $33.75       33.75
...                                                 ...        ...        ...
4617                                  [Diet Dr. Pepper]     $1.09        1.09
4618                                                NaN     $1.09        1.09
4619                                        [Coca Cola]     $1.09        1.09
4620                                        [Coca Cola]     $1.09        1.09
4621                                           [Sprite]     $1.09        1.09

[4622 rows x 6 columns]

In [ ]:
ans = df.loc[(df.item_name == 'Steak Salad') | (df.item_name == 'Bowl')]
print(ans.head(3))

     order_id  quantity    item_name  \
445       193         3         Bowl
664       276         1  Steak Salad
673       279         1         Bowl

                                    choice_description item_price  new_price
445  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20       22.20
664  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99        8.99
673  [Adobo-Marinated and Grilled Steak, [Sour Crea...     $7.40        7.40

In [ ]:
ans_first = df.loc[(df.item_name == 'Steak Salad') | (df.item_name == 'Bowl')].drop_duplicates('item_name', keep='first')
print(ans_first.head(3))

     order_id  quantity    item_name  \
445       193         3         Bowl
664       276         1  Steak Salad

                                    choice_description item_price  new_price
445  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20       22.20
664  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99        8.99

In [ ]:
ans_last = df.loc[(df.item_name == 'Steak Salad') | (df.item_name == 'Bowl')].drop_duplicates('item_name', keep='last')
print(ans_last.head(3))

      order_id  quantity    item_name  \
673        279         1         Bowl
3502      1406         1  Steak Salad

                                     choice_description item_price  new_price
673   [Adobo-Marinated and Grilled Steak, [Sour Crea...     $7.40        7.40
3502                        [[Lettuce, Fajita Veggies]]     $8.69        8.69

In [ ]:
ans = df.loc[df.new_price >= df.new_price.mean()]
print(ans.head(3))

   order_id  quantity      item_name  \
4         2         2   Chicken Bowl
5         3         1   Chicken Bowl
7         4         1  Steak Burrito

                                  choice_description item_price  new_price
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98       10.98
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75       11.75

In [ ]:
df.loc[df.item_name == 'Izze', 'item_name'] ='Fizzy Lizzy'
print(df.head(3))

   order_id  quantity                     item_name choice_description  \
0         1         1  Chips and Fresh Tomato Salsa                NaN
1         1         1                   Fizzy Lizzy       [Clementine]
2         1         1              Nantucket Nectar            [Apple]

  item_price  new_price
0     $2.39        2.39
1     $3.39        3.39
2     $3.39        3.39

In [ ]:
ans = df.choice_description.isnull().sum()
print(ans)

1246

In [ ]:
df.loc[df.choice_description.isnull(), 'choice_description']='NoData'
print(df.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                            Fizzy Lizzy
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price  new_price
0                                             NoData     $2.39        2.39
1                                       [Clementine]     $3.39        3.39
2                                            [Apple]     $3.39        3.39
3                                             NoData     $2.39        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98

In [ ]:
ans = df.loc[df.choice_description.str.contains('Black')]
print(ans.head(3))

   order_id  quantity      item_name  \
4         2         2   Chicken Bowl
7         4         1  Steak Burrito
9         5         1  Steak Burrito

                                  choice_description item_price  new_price
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98       16.98
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75       11.75
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25        9.25

In [ ]:
ans = df.loc[~df.choice_description.str.contains('Vegetables')]
print(ans.head(3))

   order_id  quantity                     item_name choice_description  \
0         1         1  Chips and Fresh Tomato Salsa             NoData
1         1         1                   Fizzy Lizzy       [Clementine]
2         1         1              Nantucket Nectar            [Apple]

  item_price  new_price
0     $2.39        2.39
1     $3.39        3.39
2     $3.39        3.39

In [ ]:
ans = df[df.item_name.str.startswith('N')]
print(ans.head())

     order_id  quantity         item_name         choice_description  \
2           1         1  Nantucket Nectar                    [Apple]
22         11         1  Nantucket Nectar       [Pomegranate Cherry]
105        46         1  Nantucket Nectar  [Pineapple Orange Banana]
173        77         1  Nantucket Nectar                    [Apple]
205        91         1  Nantucket Nectar             [Peach Orange]

    item_price  new_price
2       $3.39        3.39
22      $3.39        3.39
105     $3.39        3.39
173     $3.39        3.39
205     $3.39        3.39

In [ ]:
ans = df.loc[df.item_name.str.len() >= 15]
print(ans.head())

    order_id  quantity                              item_name  \
0          1         1           Chips and Fresh Tomato Salsa
2          1         1                       Nantucket Nectar
3          1         1  Chips and Tomatillo-Green Chili Salsa
8          4         1                       Steak Soft Tacos
10         5         1                    Chips and Guacamole

                                   choice_description item_price  new_price
0                                              NoData     $2.39        2.39
2                                             [Apple]     $3.39        3.39
3                                              NoData     $2.39        2.39
8   [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25        9.25
10                                             NoData     $4.45        4.45

In [ ]:
lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]

ans = df.loc[df.new_price.isin(lst)]
print(len(ans))

1393

In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv')

Ans =df.head(5)
print(Ans)

     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

In [ ]:
ans = df.groupby('host_name').size().head()
print(ans)

host_name
'Cil                        1
(Ari) HENRY LEE             1
(Email hidden by Airbnb)    6
(Mary) Haiy                 1
-TheQueensCornerLot         1
dtype: int64

In [ ]:
ans = df.groupby('host_name').size().to_frame().sort_values(0, ascending=False).rename(columns={0:'counts'})
print(ans.head())

              counts
host_name
Michael          417
David            403
Sonder (NYC)     327
John             294
Alex             279

In [ ]:
ans = df.groupby(['neighbourhood_group','neighbourhood'], as_index=False).size()
print(ans.head())

  neighbourhood_group neighbourhood  size
0               Bronx      Allerton    42
1               Bronx    Baychester     7
2               Bronx       Belmont    24
3               Bronx     Bronxdale    19
4               Bronx   Castle Hill     9

In [ ]:
ans = df.groupby(['neighbourhood_group','neighbourhood'],as_index=False).size().groupby('neighbourhood_group', as_index=False).max()
print(ans.head())

In [ ]:
ans = df[['neighbourhood_group','price']].groupby('neighbourhood_group').agg(['mean','var','max','min'])
print(ans.head())

                          price
                           mean           var    max min
neighbourhood_group
Bronx                 87.496792  11386.885081   2500   0
Brooklyn             124.383207  34921.719135  10000   0
Manhattan            196.875814  84904.159185  10000   0
Queens                99.517649  27923.130227  10000  10
Staten Island        114.812332  77073.088342   5000  13

In [ ]:
ans = df[['neighbourhood_group', 'reviews_per_month']].groupby('neighbourhood_group').agg(['mean','var','max','min'])
print(ans)

                    reviews_per_month
                                 mean       var    max   min
neighbourhood_group
Bronx                        1.837831  2.799878  10.34  0.02
Brooklyn                     1.283212  2.299040  14.00  0.01
Manhattan                    1.272131  2.651206  58.50  0.01
Queens                       1.941200  4.897848  20.94  0.01
Staten Island                1.872580  2.840895  10.12  0.02

In [ ]:
ans = df.groupby(['neighbourhood','neighbourhood_group']).price.mean()
print(ans.head())

neighbourhood  neighbourhood_group
Allerton       Bronx                   87.595238
Arden Heights  Staten Island           67.250000
Arrochar       Staten Island          115.000000
Arverne        Queens                 171.779221
Astoria        Queens                 117.187778
Name: price, dtype: float64

In [ ]:
ans = df.groupby(['neighbourhood','neighbourhood_group']).price.mean().unstack()
print(ans.head())

neighbourhood_group      Bronx  Brooklyn  Manhattan      Queens  Staten Island
neighbourhood
Allerton             87.595238       NaN        NaN         NaN            NaN
Arden Heights              NaN       NaN        NaN         NaN          67.25
Arrochar                   NaN       NaN        NaN         NaN         115.00
Arverne                    NaN       NaN        NaN  171.779221            NaN
Astoria                    NaN       NaN        NaN  117.187778            NaN

In [ ]:
ans = df.groupby(['neighbourhood','neighbourhood_group']).price.mean().unstack().fillna('-999')
print(ans.head())

neighbourhood_group      Bronx Brooklyn Manhattan      Queens Staten Island
neighbourhood
Allerton             87.595238     -999      -999        -999          -999
Arden Heights             -999     -999      -999        -999         67.25
Arrochar                  -999     -999      -999        -999         115.0
Arverne                   -999     -999      -999  171.779221          -999
Astoria                   -999     -999      -999  117.187778          -999

In [ ]:
ans = df[df.neighbourhood_group == 'Queens'].groupby('neighbourhood').price.agg(['mean','var','max','min'])
print(ans.head())

                     mean            var    max  min
neighbourhood
Arverne        171.779221   37383.411141   1500   35
Astoria        117.187778  122428.811196  10000   25
Bay Terrace    142.000000    6816.400000    258   32
Bayside        157.948718  166106.470985   2600   30
Bayswater       87.470588    2330.889706    230   45

In [ ]:
ans = df[['neighbourhood_group','room_type']].groupby(['neighbourhood_group','room_type']).size().unstack()
print(ans)
ans.loc[:,:] = (ans.values / ans.sum(axis=1).values.reshape(-1,1))
print(ans)

room_type            Entire home/apt  Private room  Shared room
neighbourhood_group
Bronx                            379           652           60
Brooklyn                        9559         10132          413
Manhattan                      13199          7982          480
Queens                          2096          3372          198
Staten Island                    176           188            9
room_type            Entire home/apt  Private room  Shared room
neighbourhood_group
Bronx                       0.347388      0.597617     0.054995
Brooklyn                    0.475478      0.503979     0.020543
Manhattan                   0.609344      0.368496     0.022160
Queens                      0.369926      0.595129     0.034945
Staten Island               0.471850      0.504021     0.024129

<ipython-input-88-e979430ba82c>:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.34738772 0.47547752 0.60934398 0.36992587 0.47184987]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ans.loc[:,:] = (ans.values / ans.sum(axis=1).values.reshape(-1,1))
<ipython-input-88-e979430ba82c>:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.59761687 0.50397931 0.36849638 0.59512884 0.50402145]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ans.loc[:,:] = (ans.values / ans.sum(axis=1).values.reshape(-1,1))
<ipython-input-88-e979430ba82c>:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.05499542 0.02054318 0.02215964 0.03494529 0.02412869]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ans.loc[:,:] = (ans.values / ans.sum(axis=1).values.reshape(-1,1))

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv')
print(df.shape)

(10127, 19)

In [ ]:
nn = {'Unknown': 'N',
      'Less than $40K': 'a',
      '$40K - $60K': 'b',
      '$60K - $80K': 'c',
      '$80K - $120K': 'd',
      '$120K +': 'e'}

df['newIncome'] = df['Income_Category'].map(lambda x: nn[x])
print(df.newIncome.head())

0    c
1    a
2    d
3    a
4    c
Name: newIncome, dtype: object

In [ ]:
def changeCategory(x):
    if x =='Unknown':
        return 'N'
    elif x =='Less than $40K':
        return 'a'
    elif x =='$40K - $60K':
        return 'b'
    elif x =='$60K - $80K':
        return 'c'
    elif x =='$80K - $120K':
        return 'd'
    elif x =='$120K +' :
        return 'e'

df['newIncome2'] = df['Income_Category'].apply(changeCategory)
print(df['newIncome2'].head())

0    c
1    a
2    d
3    a
4    c
Name: newIncome2, dtype: object

In [ ]:
df['agestate'] = df['Customer_Age'].map(lambda x: x//10 *10)
print(df['agestate'].value_counts().sort_index())

agestate
20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: count, dtype: int64

In [ ]:
df['newEduLevel'] = df['Education_Level'].map(lambda x: 1 if 'Graduate' in x else 0)
print(df['newEduLevel'].value_counts())

newEduLevel
0    6483
1    3644
Name: count, dtype: int64

In [ ]:
df['newlimit'] = df['Credit_Limit'].map(lambda x: 1 if x>= 4500 else 0)
print(df['newlimit'].value_counts())

newlimit
1    5096
0    5031
Name: count, dtype: int64

In [ ]:
def ns(x):
  if x.Marital_Status == 'Married' and x.Card_Category == 'Platinum':
    return 1
  else:
    return 0
df['newstate'] = df.apply(ns, axis=1)
print(df['newstate'].value_counts())

newstate
0    10120
1        7
Name: count, dtype: int64

In [ ]:
def gd(x):
  if x == 'M':
    return 'male'
  else:
    return 'female'

df['Gender'] = df.Gender.apply(gd)
ans = df['Gender'].value_counts()

print(ans)

Gender
female    5358
male      4769
Name: count, dtype: int64

In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB
None

In [ ]:
df['Yr_Mo_Dy'] = pd.to_datetime(df['Yr_Mo_Dy'])
print(df.head())

    Yr_Mo_Dy    RPT    VAL    ROS    KIL    SHA   BIR    DUB    CLA    MUL  \
0 2061-01-01  15.04  14.96  13.17   9.29    NaN  9.87  13.67  10.25  10.83
1 2061-01-02  14.71    NaN  10.83   6.50  12.62  7.67  11.50  10.04   9.79
2 2061-01-03  18.50  16.88  12.33  10.13  11.17  6.17  11.25    NaN   8.50
3 2061-01-04  10.58   6.63  11.75   4.58   4.54  2.88   8.63   1.79   5.83
4 2061-01-05  13.33  13.25  11.42   6.17  10.71  8.21  11.92   6.54  10.92

     CLO    BEL    MAL
0  12.58  18.50  15.04
1   9.67  17.54  13.83
2   7.67  12.75  12.71
3   5.88   5.46  10.88
4  10.34  12.92  11.83

In [ ]:
df['Yr_Mo_Dy'] = pd.to_datetime(df['Yr_Mo_Dy'])
ans = df['Yr_Mo_Dy'].dt.year.unique()
print(ans)

[2061 2062 2063 2064 2065 2066 2067 2068 2069 2070 1971 1972 1973 1974
 1975 1976 1977 1978]

In [ ]:
def nd(x):
  import datetime

  year = x.year -100 if x.year >= 2061 else x.year
  return pd.to_datetime(datetime.date(year, x.month, x.day))

df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(nd)
print(df.head())

    Yr_Mo_Dy    RPT    VAL    ROS    KIL    SHA   BIR    DUB    CLA    MUL  \
0 1961-01-01  15.04  14.96  13.17   9.29    NaN  9.87  13.67  10.25  10.83
1 1961-01-02  14.71    NaN  10.83   6.50  12.62  7.67  11.50  10.04   9.79
2 1961-01-03  18.50  16.88  12.33  10.13  11.17  6.17  11.25    NaN   8.50
3 1961-01-04  10.58   6.63  11.75   4.58   4.54  2.88   8.63   1.79   5.83
4 1961-01-05  13.33  13.25  11.42   6.17  10.71  8.21  11.92   6.54  10.92

     CLO    BEL    MAL
0  12.58  18.50  15.04
1   9.67  17.54  13.83
2   7.67  12.75  12.71
3   5.88   5.46  10.88
4  10.34  12.92  11.83

In [ ]:
ans = df.groupby(df['Yr_Mo_Dy'].dt.year).mean()
print(ans.head())

                    Yr_Mo_Dy        RPT        VAL        ROS       KIL  \
Yr_Mo_Dy
1961     1961-07-02 00:00:00  12.299583  10.351796  11.362369  6.958227
1962     1962-07-02 00:00:00  12.246923  10.110438  11.732712  6.960440
1963     1963-07-02 00:00:00  12.813452  10.836986  12.541151  7.330055
1964     1964-07-01 12:00:00  12.363661  10.920164  12.104372  6.787787
1965     1965-07-02 00:00:00  12.451370  11.075534  11.848767  6.858466

                SHA       BIR        DUB        CLA       MUL        CLO  \
Yr_Mo_Dy
1961      10.881763  7.729726   9.733923   8.858788  8.647652   9.835577
1962      10.657918  7.393068  11.020712   8.793753  8.316822   9.676247
1963      11.724110  8.434712  11.075699  10.336548  8.903589  10.224438
1964      11.454481  7.570874  10.259153   9.467350  7.789016  10.207951
1965      11.024795  7.478110  10.618712   8.879918  7.907425   9.918082

                BEL        MAL
Yr_Mo_Dy
1961      13.502795  13.680773
1962      12.930685  14.323956
1963      13.638877  14.999014
1964      13.740546  14.910301
1965      12.964247  15.591644

In [ ]:
df['weekday'] = df['Yr_Mo_Dy'].dt.weekday

ans = df['weekday']
print(ans)

0       6
1       0
2       1
3       2
4       3
       ..
6569    2
6570    3
6571    4
6572    5
6573    6
Name: weekday, Length: 6574, dtype: int32

In [ ]:
df['WeekCheck'] = df['weekday'].map(lambda x: 1 if x in [5,6] else 0)
print(df['WeekCheck'].head())

0    1
1    0
2    0
3    0
4    0
Name: WeekCheck, dtype: int64

In [ ]:
ans = df.groupby(df['Yr_Mo_Dy'].dt.month).mean()
print(ans)

                              Yr_Mo_Dy        RPT        VAL        ROS  \
Yr_Mo_Dy
1        1969-07-17 06:40:00.000000000  14.847325  12.914560  13.299624
2        1969-08-17 07:50:33.070866142  13.710906  12.111122  12.879132
3        1969-09-14 12:00:00.000000000  13.158687  11.505842  12.648118
4        1969-10-15 00:00:00.000000000  12.555648  10.429759  12.204815
5        1969-11-14 12:00:00.000000000  11.724032  10.145619  11.550394
6        1969-12-15 00:00:00.000000000  10.451317   8.949704  10.361315
7        1970-01-14 12:00:00.000000000   9.992007   8.357778   9.349642
8        1970-02-14 12:00:00.000000000  10.213411   8.415143   9.993441
9        1970-03-17 00:00:00.000000000  11.458519   9.981002  10.756883
10       1970-04-16 12:00:00.000000000  12.660610  11.010681  11.453943
11       1970-05-17 00:00:00.000000000  13.200722  11.639500  12.293407
12       1970-06-16 12:00:00.000000000  14.446398  12.353602  13.212276

               KIL        SHA       BIR        DUB       CLA       MUL  \
Yr_Mo_Dy
1         7.199498  11.667734  8.054839  11.819355  9.512047  9.543208
2         6.942411  11.551772  7.633858  11.206024  9.341437  9.313169
3         7.265907  11.554516  7.959409  11.310179  9.635896  9.700324
4         6.898037  10.677667  7.441389  10.221315  8.909056  8.930870
5         6.307487  10.224301  6.942061   8.797738  8.452903  8.040806
6         5.652278   9.529926  6.410093   8.009556  7.920796  7.639796
7         5.416935   9.302634  5.972348   7.843501  7.262760  7.544480
8         5.270681   8.901559  5.891057   7.772312  6.842025  7.240573
9         5.615176   9.766315  6.566222   8.609722  7.745677  7.610556
10        6.065215  10.550251  7.159910   9.387778  8.726308  8.347181
11        6.247611  10.501130  7.134333  10.814861  8.427167  8.604000
12        6.829910  11.301254  7.963710  11.849050  9.209355  9.447258

                CLO        BEL        MAL   weekday  WeekCheck
Yr_Mo_Dy
1         10.053566  14.550520  18.028763  2.989247   0.284946
2          9.518051  13.728898  17.156142  3.005906   0.287402
3         10.096953  13.810609  16.909317  3.000000   0.283154
4          9.158019  12.664759  14.937611  3.011111   0.288889
5          8.524857  12.767258  13.736039  2.982079   0.283154
6          7.729185  12.246407  12.861818  3.007407   0.285185
7          7.321416  11.676505  12.800789  3.001792   0.288530
8          7.002783  11.110090  12.565943  2.991039   0.283154
9          7.689278  12.686389  14.761963  3.009259   0.287037
10         8.850376  14.155323  16.697151  2.998208   0.286738
11         8.943167  13.815741  18.114185  2.992593   0.283333
12         9.627670  14.259516  18.697599  3.017921   0.288530

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/under5MortalityRate.csv')
df.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Both sexes,60.27 [47.44-74.62]
1,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Male,63.83 [50.04-79.16]
2,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Female,56.57 [44.54-70.18]
3,Afghanistan,2018,Under-five mortality rate (probability of dyin...,Both sexes,62.54 [50.64-75.41]
4,Afghanistan,2018,Under-five mortality rate (probability of dyin...,Male,66.08 [53.41-79.76]

In [ ]:
ans1 = df.drop('Indicator', axis=1)
ans1['First Tooltip'] = ans1['First Tooltip'].map(lambda x: float(x.split('[')[0]))
print(ans1.head())

      Location  Period        Dim1  First Tooltip
0  Afghanistan    2019  Both sexes          60.27
1  Afghanistan    2019        Male          63.83
2  Afghanistan    2019      Female          56.57
3  Afghanistan    2018  Both sexes          62.54
4  Afghanistan    2018        Male          66.08

In [ ]:
ans = ans[(ans['Period'] >= 2015) & (ans['Dim1'] == 'Both sexes')]
print(ans.head())

       Location  Period        Dim1        First Tooltip First Tooltop
0   Afghanistan    2019  Both sexes  60.27 [47.44-74.62]        60.27
3   Afghanistan    2018  Both sexes  62.54 [50.64-75.41]        62.54
6   Afghanistan    2017  Both sexes  64.94 [53.74-76.83]        64.94
9   Afghanistan    2016  Both sexes  67.57 [57.07-78.65]        67.57
12  Afghanistan    2015  Both sexes  70.44 [60.72-80.86]        70.44

In [ ]:
ans = ans.pivot(index='Location', columns='Period',values='First Tooltip')
print(ans.head())

Period                      2015                 2016                 2017  \
Location
Afghanistan  70.44 [60.72-80.86]  67.57 [57.07-78.65]  64.94 [53.74-76.83]
Albania         9.57 [9.23-9.94]      9.42 [9.08-9.8]     9.42 [9.04-9.83]
Algeria      25.18 [24.61-25.75]  24.79 [24.25-25.34]   24.32 [23.8-24.84]
Andorra        3.53 [1.23-10.59]     3.37 [1.1-10.78]    3.22 [0.99-10.91]
Angola        88.2 [46.58-149.6]  84.21 [42.56-146.4]  80.62 [39.74-143.7]

Period                      2018                 2019
Location
Afghanistan  62.54 [50.64-75.41]  60.27 [47.44-74.62]
Albania        9.53 [9.07-10.02]    9.68 [9.07-10.35]
Algeria      23.81 [23.26-24.35]  23.26 [22.51-24.03]
Andorra        3.09 [0.91-11.06]    2.97 [0.85-10.97]
Angola       77.67 [36.92-141.1]  74.69 [34.55-139.3]

In [ ]:
ans = ans1.pivot_table(index='Dim1', columns='Period',values='First Tooltip', aggfunc='mean')
print(ans.iloc[:,:4])

Period            1950        1951        1952        1953
Dim1
Both sexes  147.700816  155.537544  157.811094  156.147206
Female      140.909796  149.210175  151.516094  150.250882
Male        154.151224  161.538246  163.760781  161.742059

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/winter.csv')

In [ ]:
ans = df[df['Country'] == 'KOR']
print(ans.head())

      Year         City    Sport                 Discipline       Athlete  \
2652  1992  Albertville  Skating  Short Track Speed Skating   LEE, Jun-Ho
2653  1992  Albertville  Skating  Short Track Speed Skating  KIM, Ki-Hoon
2671  1992  Albertville  Skating  Short Track Speed Skating  KIM, Ki-Hoon
2672  1992  Albertville  Skating  Short Track Speed Skating   LEE, Jun-Ho
2673  1992  Albertville  Skating  Short Track Speed Skating    MO, Ji-Soo

     Country Gender        Event   Medal
2652     KOR    Men        1000M  Bronze
2653     KOR    Men        1000M    Gold
2671     KOR    Men  5000M Relay    Gold
2672     KOR    Men  5000M Relay    Gold
2673     KOR    Men  5000M Relay    Gold

In [ ]:
ans2 = ans.pivot_table(index='Year', columns='Medal', aggfunc='size')
print(ans2.head())

Medal  Bronze  Gold  Silver
Year
1992      1.0   5.0     1.0
1994      1.0   8.0     1.0
1998      2.0   6.0     4.0
2002      NaN   5.0     2.0
2006      2.0  14.0     3.0

In [ ]:
ans3 = df.pivot_table(index='Sport', columns='Gender',aggfunc='size')
print(ans3.head())

Gender       Men  Women
Sport
Biathlon     270    150
Bobsleigh    416     36
Curling       97     75
Ice Hockey  1231    305
Luge         135     45

In [ ]:
ans4 = df.pivot_table(index='Discipline', columns='Medal',aggfunc='size')
print(ans4.head())

Medal                 Bronze  Gold  Silver
Discipline
Alpine Skiing            141   143     144
Biathlon                 139   140     141
Bobsleigh                147   134     141
Cross Country Skiing     263   264     262
Curling                   56    58      58

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/mergeTEst.csv',index_col= 0)

df1 = df.iloc[:4,:]
df2 = df.iloc[4:,:]

print(df1.head())
print(df2.head())

               2010    2011    2012    2013   2014    2015    2016    2017  \
Location
Afghanistan  64.023  61.640  59.367  57.170  55.08  53.107  51.267  49.560
Albania      11.803  10.807   9.943   9.267   8.79   8.493   8.363   8.363
Algeria      23.540  22.907  22.450  22.117  21.85  21.587  21.257  20.850
Andorra       4.240   4.033   3.843   3.667   3.49   3.330   3.187   3.060

               2018    2019
Location
Afghanistan  47.983  46.453
Albania       8.453   8.597
Algeria      20.407  19.930
Andorra       2.933   2.827
                       2010    2011    2012    2013    2014    2015    2016  \
Location
Angola               75.713  71.280  67.233  63.570  60.430  57.757  55.510
Antigua and Barbuda   8.667   8.223   7.807   7.420   7.070   6.757   6.483
Argentina            12.887  12.380  11.840  11.283  10.733  10.203   9.683
Armenia              16.497  15.677  14.897  14.170  13.477  12.817  12.183
Australia             3.993   3.803   3.623   3.467   3.343   3.253   3.183

                       2017    2018    2019
Location
Angola               53.460  51.757  50.093
Antigua and Barbuda   6.230   6.000   5.783
Argentina             9.177   8.680   8.227
Armenia              11.583  11.007  10.497
Australia             3.137   3.090   3.047

In [ ]:
ans = pd.concat([df1,df2])
print(ans)

                       2010    2011    2012    2013    2014    2015    2016  \
Location
Afghanistan          64.023  61.640  59.367  57.170  55.080  53.107  51.267
Albania              11.803  10.807   9.943   9.267   8.790   8.493   8.363
Algeria              23.540  22.907  22.450  22.117  21.850  21.587  21.257
Andorra               4.240   4.033   3.843   3.667   3.490   3.330   3.187
Angola               75.713  71.280  67.233  63.570  60.430  57.757  55.510
Antigua and Barbuda   8.667   8.223   7.807   7.420   7.070   6.757   6.483
Argentina            12.887  12.380  11.840  11.283  10.733  10.203   9.683
Armenia              16.497  15.677  14.897  14.170  13.477  12.817  12.183
Australia             3.993   3.803   3.623   3.467   3.343   3.253   3.183
Austria               3.573   3.463   3.333   3.210   3.113   3.043   2.987

                       2017    2018    2019
Location
Afghanistan          49.560  47.983  46.453
Albania               8.363   8.453   8.597
Algeria              20.850  20.407  19.930
Andorra               3.060   2.933   2.827
Angola               53.460  51.757  50.093
Antigua and Barbuda   6.230   6.000   5.783
Argentina             9.177   8.680   8.227
Armenia              11.583  11.007  10.497
Australia             3.137   3.090   3.047
Austria               2.943   2.897   2.843

In [ ]:
df3 = df.iloc[:2,:4]
df4 = df.iloc[5:,3:]

display(df3)
display(df4)

               2010    2011    2012    2013
Location
Afghanistan  64.023  61.640  59.367  57.170
Albania      11.803  10.807   9.943   9.267

                       2013    2014    2015    2016    2017    2018    2019
Location
Antigua and Barbuda   7.420   7.070   6.757   6.483   6.230   6.000   5.783
Argentina            11.283  10.733  10.203   9.683   9.177   8.680   8.227
Armenia              14.170  13.477  12.817  12.183  11.583  11.007  10.497
Australia             3.467   3.343   3.253   3.183   3.137   3.090   3.047
Austria               3.210   3.113   3.043   2.987   2.943   2.897   2.843

In [ ]:
ans = pd.concat([df3,df4], join='inner')
print(ans.head())

                       2013
Location
Afghanistan          57.170
Albania               9.267
Antigua and Barbuda   7.420
Argentina            11.283
Armenia              14.170

In [ ]:
ans = pd.concat([df3,df4]).fillna('0')
print(ans.head())

                       2010    2011    2012    2013    2014    2015    2016  \
Location
Afghanistan          64.023   61.64  59.367  57.170       0       0       0
Albania              11.803  10.807   9.943   9.267       0       0       0
Antigua and Barbuda       0       0       0   7.420    7.07   6.757   6.483
Argentina                 0       0       0  11.283  10.733  10.203   9.683
Armenia                   0       0       0  14.170  13.477  12.817  12.183

                       2017    2018    2019
Location
Afghanistan               0       0       0
Albania                   0       0       0
Antigua and Barbuda    6.23     6.0   5.783
Argentina             9.177    8.68   8.227
Armenia              11.583  11.007  10.497

In [ ]:
ans = pd.concat([df3,df4], join='outer').fillna('0')
print(ans.head())

                       2010    2011    2012    2013    2014    2015    2016  \
Location
Afghanistan          64.023   61.64  59.367  57.170       0       0       0
Albania              11.803  10.807   9.943   9.267       0       0       0
Antigua and Barbuda       0       0       0   7.420    7.07   6.757   6.483
Argentina                 0       0       0  11.283  10.733  10.203   9.683
Armenia                   0       0       0  14.170  13.477  12.817  12.183

                       2017    2018    2019
Location
Afghanistan               0       0       0
Albania                   0       0       0
Antigua and Barbuda    6.23     6.0   5.783
Argentina             9.177    8.68   8.227
Armenia              11.583  11.007  10.497

In [ ]:
df5 = df.T.iloc[:7,:3]
df6 = df.T.iloc[6:,2:5]

display(df5)
display(df6)

Location  Afghanistan  Albania  Algeria
2010           64.023   11.803   23.540
2011           61.640   10.807   22.907
2012           59.367    9.943   22.450
2013           57.170    9.267   22.117
2014           55.080    8.790   21.850
2015           53.107    8.493   21.587
2016           51.267    8.363   21.257

Location  Algeria  Andorra  Angola
2016       21.257    3.187  55.510
2017       20.850    3.060  53.460
2018       20.407    2.933  51.757
2019       19.930    2.827  50.093

In [ ]:
ans = pd.merge(df5,df6, on='Algeria',how='inner')
print(ans)

Location  Afghanistan  Albania  Algeria  Andorra  Angola
0              51.267    8.363   21.257    3.187   55.51

In [ ]:
ans = pd.merge(df5,df6, on='Algeria',how='outer')
print(ans)

Location  Afghanistan  Albania  Algeria  Andorra  Angola
0                 NaN      NaN   19.930    2.827  50.093
1                 NaN      NaN   20.407    2.933  51.757
2                 NaN      NaN   20.850    3.060  53.460
3              51.267    8.363   21.257    3.187  55.510
4              53.107    8.493   21.587      NaN     NaN
5              55.080    8.790   21.850      NaN     NaN
6              57.170    9.267   22.117      NaN     NaN
7              59.367    9.943   22.450      NaN     NaN
8              61.640   10.807   22.907      NaN     NaN
9              64.023   11.803   23.540      NaN     NaN

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB

In [ ]:
df['Yr_Mo_Dy'] = pd.to_datetime(df['Yr_Mo_Dy'])
print(df.head())

    Yr_Mo_Dy    RPT    VAL    ROS    KIL    SHA   BIR    DUB    CLA    MUL  \
0 2061-01-01  15.04  14.96  13.17   9.29    NaN  9.87  13.67  10.25  10.83
1 2061-01-02  14.71    NaN  10.83   6.50  12.62  7.67  11.50  10.04   9.79
2 2061-01-03  18.50  16.88  12.33  10.13  11.17  6.17  11.25    NaN   8.50
3 2061-01-04  10.58   6.63  11.75   4.58   4.54  2.88   8.63   1.79   5.83
4 2061-01-05  13.33  13.25  11.42   6.17  10.71  8.21  11.92   6.54  10.92

     CLO    BEL    MAL
0  12.58  18.50  15.04
1   9.67  17.54  13.83
2   7.67  12.75  12.71
3   5.88   5.46  10.88
4  10.34  12.92  11.83

In [ ]:
ans = df['Yr_Mo_Dy'].dt.year.unique()
print(ans)

[2061 2062 2063 2064 2065 2066 2067 2068 2069 2070 1971 1972 1973 1974
 1975 1976 1977 1978]

In [ ]:
def ny(x):
  import datetime

  year = x.year - 100 if x.year >= 2061 else x.year
  return pd.to_datetime(datetime.date(year, x.month, x.day))

df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(ny)
print(df.head())

    Yr_Mo_Dy    RPT    VAL    ROS    KIL    SHA   BIR    DUB    CLA    MUL  \
0 1961-01-01  15.04  14.96  13.17   9.29    NaN  9.87  13.67  10.25  10.83
1 1961-01-02  14.71    NaN  10.83   6.50  12.62  7.67  11.50  10.04   9.79
2 1961-01-03  18.50  16.88  12.33  10.13  11.17  6.17  11.25    NaN   8.50
3 1961-01-04  10.58   6.63  11.75   4.58   4.54  2.88   8.63   1.79   5.83
4 1961-01-05  13.33  13.25  11.42   6.17  10.71  8.21  11.92   6.54  10.92

     CLO    BEL    MAL
0  12.58  18.50  15.04
1   9.67  17.54  13.83
2   7.67  12.75  12.71
3   5.88   5.46  10.88
4  10.34  12.92  11.83

In [ ]:
ans = df.groupby(df['Yr_Mo_Dy'].dt.year).mean()
print(ans.head())

                    Yr_Mo_Dy        RPT        VAL        ROS       KIL  \
Yr_Mo_Dy
1961     1961-07-02 00:00:00  12.299583  10.351796  11.362369  6.958227
1962     1962-07-02 00:00:00  12.246923  10.110438  11.732712  6.960440
1963     1963-07-02 00:00:00  12.813452  10.836986  12.541151  7.330055
1964     1964-07-01 12:00:00  12.363661  10.920164  12.104372  6.787787
1965     1965-07-02 00:00:00  12.451370  11.075534  11.848767  6.858466

                SHA       BIR        DUB        CLA       MUL        CLO  \
Yr_Mo_Dy
1961      10.881763  7.729726   9.733923   8.858788  8.647652   9.835577
1962      10.657918  7.393068  11.020712   8.793753  8.316822   9.676247
1963      11.724110  8.434712  11.075699  10.336548  8.903589  10.224438
1964      11.454481  7.570874  10.259153   9.467350  7.789016  10.207951
1965      11.024795  7.478110  10.618712   8.879918  7.907425   9.918082

                BEL        MAL
Yr_Mo_Dy
1961      13.502795  13.680773
1962      12.930685  14.323956
1963      13.638877  14.999014
1964      13.740546  14.910301
1965      12.964247  15.591644

In [ ]:
df['weekday'] = df['Yr_Mo_Dy'].dt.weekday
print(df.weekday.head())

0    6
1    0
2    1
3    2
4    3
Name: weekday, dtype: int32

In [ ]:
df['weekcheck'] = df['weekday'].map(lambda x: 1 if x in [5,6] else 0)
print(df['weekcheck'].head())

0    1
1    0
2    0
3    0
4    0
Name: weekcheck, dtype: int64

In [ ]:
ans = df.groupby(df['Yr_Mo_Dy'].dt.month).mean()
print(ans.head())

                              Yr_Mo_Dy        RPT        VAL        ROS  \
Yr_Mo_Dy
1        1969-07-17 06:40:00.000000000  14.847325  12.914560  13.299624
2        1969-08-17 07:50:33.070866142  13.710906  12.111122  12.879132
3        1969-09-14 12:00:00.000000000  13.158687  11.505842  12.648118
4        1969-10-15 00:00:00.000000000  12.555648  10.429759  12.204815
5        1969-11-14 12:00:00.000000000  11.724032  10.145619  11.550394

               KIL        SHA       BIR        DUB       CLA       MUL  \
Yr_Mo_Dy
1         7.199498  11.667734  8.054839  11.819355  9.512047  9.543208
2         6.942411  11.551772  7.633858  11.206024  9.341437  9.313169
3         7.265907  11.554516  7.959409  11.310179  9.635896  9.700324
4         6.898037  10.677667  7.441389  10.221315  8.909056  8.930870
5         6.307487  10.224301  6.942061   8.797738  8.452903  8.040806

                CLO        BEL        MAL   weekday  weekcheck
Yr_Mo_Dy
1         10.053566  14.550520  18.028763  2.989247   0.284946
2          9.518051  13.728898  17.156142  3.005906   0.287402
3         10.096953  13.810609  16.909317  3.000000   0.283154
4          9.158019  12.664759  14.937611  3.011111   0.288889
5          8.524857  12.767258  13.736039  2.982079   0.283154

In [ ]:
df = df.fillna(method='ffill').fillna(method='bfill')
print(df.isnull().sum())

Yr_Mo_Dy     0
RPT          0
VAL          0
ROS          0
KIL          0
SHA          0
BIR          0
DUB          0
CLA          0
MUL          0
CLO          0
BEL          0
MAL          0
weekday      0
weekcheck    0
dtype: int64

<ipython-input-92-7a750c9c1a4d>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill').fillna(method='bfill')

In [ ]:
ans = df.groupby(df['Yr_Mo_Dy'].dt.to_period('M')).mean()
print(ans.head())

                    Yr_Mo_Dy        RPT        VAL        ROS       KIL  \
Yr_Mo_Dy
1961-01  1961-01-16 00:00:00  14.932581  12.084194  13.431613  7.736774
1961-02  1961-02-14 12:00:00  16.269286  14.975357  14.324643  9.116786
1961-03  1961-03-16 00:00:00  11.015806  11.296452  10.752903  7.137742
1961-04  1961-04-15 12:00:00  10.722667   9.427667   9.998000  5.830667
1961-05  1961-05-16 00:00:00   9.860968   8.735161  10.818065  5.892258

                SHA        BIR        DUB        CLA        MUL        CLO  \
Yr_Mo_Dy
1961-01   11.215806   8.588065  11.184839   9.270968   9.085806  10.107419
1961-02   13.852143  10.937500  11.890714  11.846071  11.821429  12.714286
1961-03   10.509355   8.866774   9.644194   9.829677  10.646129  11.251935
1961-04    8.435000   6.495000   6.925333   7.094667   7.342333   7.237000
1961-05    9.490323   6.574839   7.477097   8.177097   8.039355   8.499355

                BEL        MAL   weekday  weekcheck
Yr_Mo_Dy
1961-01   13.880968  14.703226  2.935484   0.290323
1961-02   18.583214  15.411786  3.000000   0.285714
1961-03   16.410968  15.637742  3.000000   0.258065
1961-04   11.147333  10.278333  3.166667   0.333333
1961-05   11.900323  12.011613  2.806452   0.258065

In [ ]:
ans = df.RPT.diff()
print(ans)

0        NaN
1      -0.33
2       3.79
3      -7.92
4       2.75
        ...
6569    3.75
6570   -4.37
6571    0.79
6572    4.50
6573    1.83
Name: RPT, Length: 6574, dtype: float64

In [ ]:
ans = df[['RPT','VAL']].rolling(7).mean()
print(ans)

            RPT        VAL
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
6569  11.868571   9.362857
6570  11.904286   9.595714
6571  13.017143  10.011429
6572  13.285714  10.118571
6573  14.951429  11.801429

[6574 rows x 2 columns]

In [ ]:
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv')
df.head()

,(년-월-일:시),PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스
0,2021-05-15:15,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003
1,2021-05-15:14,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003
2,2021-05-15:13,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004
3,2021-05-15:12,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004
4,2021-05-15:11,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005

In [ ]:
def change_date(x):
    import datetime
    hour = x.split(':')[1]
    date = x.split(":")[0]

    if hour =='24':
        hour ='00:00:00'

        FinalDate = pd.to_datetime(date +" "+hour) +datetime.timedelta(days=1)

    else:
        hour = hour +':00:00'
        FinalDate = pd.to_datetime(date +" "+hour)

    return FinalDate

df['(년-월-일:시)'] = df['(년-월-일:시)'].apply(change_date)

Ans = df

In [ ]:
df['dayname'] = df['(년-월-일:시)'].dt.day_name()
print(df.dayname.head())

0    Saturday
1    Saturday
2    Saturday
3    Saturday
4    Saturday
Name: dayname, dtype: object

In [ ]:
ans = df.groupby(['dayname','PM10등급'],as_index=False).size()
print(ans.head())

ans2 = ans.pivot(index='dayname', columns='PM10등급',values='size').fillna(0)
print(ans2)

  dayname PM10등급  size
0  Friday     나쁨    31
1  Friday   매우나쁨    17
2  Friday     보통   120
3  Friday     좋음    21
4  Monday     나쁨     1
PM10등급       나쁨  매우나쁨     보통    좋음
dayname
Friday     31.0  17.0  120.0  21.0
Monday      1.0  21.0   83.0  63.0
Saturday   31.0  27.0   71.0  54.0
Sunday      2.0   1.0   67.0  98.0
Thursday   41.0   0.0  144.0   5.0
Tuesday    13.0  10.0   71.0  74.0
Wednesday  26.0   0.0   95.0  46.0

In [ ]:
# 시간을 차분했을 경우 첫 값은 nan, 이후 모든 차분값이 동일하면 연속이라 판단한다.
check = len(df['(년-월-일:시)'].diff().unique())
if check ==2:
    Ans =True
else:
    Ans = False

print(check)
print(Ans)

2
True

In [ ]:
ans = df.groupby(df['(년-월-일:시)'].dt.hour)['PM10'].mean().iloc[[10,22]]

print(ans)

(년-월-일:시)
10    70.384615
22    69.941176
Name: PM10, dtype: float64

In [ ]:
df.set_index('(년-월-일:시)',inplace=True,drop=True)
print(df.head())

                    PM10등급  PM10 PM2.5등급  PM2.5 오존등급     오존 이산화질소등급  이산화질소  \
(년-월-일:시)
2021-05-15 15:00:00     보통  47.0      보통   19.0   좋음  0.017      좋음  0.023
2021-05-15 14:00:00     보통  43.0      보통   20.0   좋음  0.024      좋음  0.019
2021-05-15 13:00:00     보통  34.0      보통   24.0   보통  0.035      좋음  0.017
2021-05-15 12:00:00     보통  41.0      보통   27.0   보통  0.037      좋음  0.020
2021-05-15 11:00:00     보통  51.0      보통   34.0   보통  0.033      좋음  0.023

                    일산화탄소등급  일산화탄소 아황산가스등급  아황산가스   dayname
(년-월-일:시)
2021-05-15 15:00:00      좋음    0.4      좋음  0.003  Saturday
2021-05-15 14:00:00      좋음    0.3      좋음  0.003  Saturday
2021-05-15 13:00:00      좋음    0.4      좋음  0.004  Saturday
2021-05-15 12:00:00      좋음    0.4      좋음  0.004  Saturday
2021-05-15 11:00:00      좋음    0.4      좋음  0.005  Saturday

In [ ]:
ans = df.resample('W').agg(['min','max','mean','std'])
print(ans)

AttributeError: 'DatetimeIndexResampler' object has no attribute 'aggfunc'